name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t demo-app .

      - name: Run container
        run: |
          docker run -d -p 5000:5000 demo-app
          sleep 5

      - name: Test application
        run: curl http://localhost:5000
